
<div class="table-responsive-sm">
<table  class="table table-hover table-borderless">
<thead>
<tr class="table-active">
    {{!-- <td>Id</td> --}}
    <th scope="col">Title</th>
    <th scope="col">Descripcion</th>
    <th scope="col">Price</th>
    <th scope="col">Thumbnail</th>
    <th scope="col">Code</th>
    <th scope="col">Stock</th>
    <th scope="col">Acciones</th>
   
</tr>

</thead>
    <tbody>
        {{#each products}}
        <tr>
          {{!-- <td>{{this.id}}</td> --}}
        <td>{{this.title}}</td>
        <td>{{this.descripcion}}</td>
        <td>{{this.price}}</td>
        <td>{{this.thumbnail}}</td>
        <td>{{this.code}}</td>
        <td>{{this.stock}}</td>
        <td><a href="/api/products/delete/{{this._id}}">🗑</a></td>
        </tr>
        {{/each}}
    </tbody>


</table>
</div>